@tailwind components;
@tailwind utilities;

.container {
    background: rgba(201, 225, 253, 1);
    justify-items: center;
    padding: 20px; 
    width: 1300px; 
    height: 670px; 
    border-radius: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }

.patient {
    background: white; 
    width: 254px; 
    height: 99px;
    position: absolute;
    top: 210px;
    left: 180px; 
    border-radius: 20px;
    box-shadow: 0 4px 4px rgb(144, 143, 143);
  }

  .form {
    width: 226px;
    height: 636px;
    position: absolute; 
    top: 210px; 
    left: 490px; 
    margin-left: 20px; 
    font-weight: bold;
    line-height: 3.5;
    
  }

  .input {
    width: 608px;
    height: 618px;
    position: absolute;
    top: 200px;
    left: 790px; 
    margin-left: 20px; 
    line-height: 3.5;
    border-radius: 20px;
  }

  .inputstyle{
    width: 560px; 
    padding: 10px; 
    border-radius: 10px; 
    outline: none; 
    border: 1px;
  }

.text{
  position: absolute;
  top: 650px;
  transform: translateX(-50%);
  font-style: italic;
  color: grey;
}

  .btn {
    height: 42px;
    width: 130px;
    border-radius: 20px;
    position: absolute;
    top: 710px;
    transform: translateX(-50%);
    font-weight: bold;
    background: white;
    box-shadow: 0 4px 4px rgb(144, 143, 143);
    border: 1px solid white;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 16px;
  }

  .text1{
    font-weight: bold;
    position: absolute;
    top:  25px;
    left: 14px;
  }

  .text2{
    font-weight: bold;
    position: absolute;
    top:  55px;
    left: 14px;
  }