@tailwind components;
@tailwind utilities;

.container {
    background: rgba(201, 225, 253, 1);
    justify-items: center;
    padding: 20px; 
    width: 1300px; 
    height: 670px; 
    border-radius: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

.patient {
    background: white; 
    width: 254px; 
    height: 101px;
    position: absolute;
    top: 190px;
    left: 180px; 
    border-radius: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 4px rgb(144, 143, 143);
  }

  .form {
    width: 226px;
    height: 636px;
    position: absolute; 
    top: 210px; 
    left: 490px; 
    margin-left: 20px; 
    font-weight: bold;
    line-height: 3.5;
    
  }

  .input {
    width: 608px;
    height: 618px;
    position: absolute;
    top: 200px;
    left: 790px; 
    margin-left: 20px; 
    line-height: 3.5;
    border-radius: 20px;
  }

  .inputstyle{
    width: 560px; 
    padding: 10px; 
    border-radius: 10px; 
    outline: none; 
    border: 1px;
  }

.text{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  top: 490px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.text1{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: italic;
  top: 570px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

.btn {
  height: 42px;
  width: 130px;
  border-radius: 20px;
  position: absolute;
  left: 710px;
  top: 645px;
  font-weight: bold;
  background: white;
  box-shadow: 0 4px 4px rgb(144, 143, 143);
  border: 1px solid white;
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-size: 16px;
  }

.img {
    object-fit: contain;
}

.imgContainer {
  width: max-content;
  height: 200px;
  flex: 1;
  position: relative;
  justify-items: center;
  margin-bottom: 250px;
  }